<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Romano Store</title>
  </head>
  
  <body>
    <form method="POST" action="/checkout">
      Input Item Name: <input type="text" name="item" id="item">
      <button type="submit" value="submit" id="submit">
    </form>
  </body>
  
</html>
