<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Romano Store</title>
  </head>
  
  <body>
    <form method="POST" action="/checkout">
      <input type="text">
    </form>
  </body>
  
</html>
